@using Microsoft.AspNet.Identity
@model SafeMode.Certificate
@{
    ViewBag.Admin = "active";
    ViewBag.tab1 = "tab1";
    ViewBag.CertVer = "active";
}
@{
    ViewBag.Title = "Add";
}

<link href="~/Content/myStyle.css" rel="stylesheet" />
<div class="page_title">
    <div class="container">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()


            <div class="title"><h1>Welcome @User.Identity.GetUserName()!  <small>(<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>)</small></h1></div>
            <div class="pagenation">&nbsp;@Html.ActionLink("Home", "Index", "Home") <i>/</i> Certificate Verification</div>
            @*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@

        }

    </div>
</div><!-- end page title -->
<!-- Contant
======================================= -->


<div class="container">

    <div class="content_fullwidth">

        @*<h2><strong>Tab</strong> Style One</h2>*@

        <div id="tabs">

            <ul class="tabs2">
                <li class=""><a href="@Url.Content("/ManageUser/Index")">Manage Users</a></li>
                <li class="active"><a href="#@ViewBag.tab1">Manage Certificates</a></li>
                <li class=""><a href="@Url.Content("/ManageCal/Index")">Manage Calender</a></li>

            </ul><!-- /# end tab links -->
            <div class="tab-container">

                <div id="@ViewBag.tab1" class="tab-content">

                    @*<div class="clearfix divider_line8"></div>*@
                    <div class="one_full">

                        <h2><strong>Add New</strong> Certificate</h2>

                        <div class="success">

                            @ViewBag.SuccessMsg
                        </div>

                        <div class="error">

                            @ViewBag.ErrorMsg
                        </div>
                        @using (Html.BeginForm("RegisterUser", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            //if (ViewBag.Error == "True")
                            //{
                            @Html.ValidationSummary(false, "", new { @class = "error" })
                            @*}*@

                            <fieldset>

                                <label for="name" class="blocklabel">Certificate Name*</label>
                                <p class="">@Html.TextBoxFor(m => m.name, new { @class = "input_bg" })</p>



                                <label for="email" class="blocklabel">Type*</label>
                                <p class="">@Html.TextBoxFor(m => m.typeid, new { @class = "input_bg" })</p>


                                <label for="website" class="blocklabel">Assinged To*</label>
                                <p>@Html.TextBoxFor(m => m.assigneeid, new { @class = "input_bg" })</p>

                                <label for="website" class="blocklabel">File*</label>
                                <p>@Html.TextBoxFor(m => m.urlname, new { @class = "input_bg" })</p>


                                @*<p>@Html.Captcha(4)</p>*@


                                <p>

                                    <div class="clearfix"></div>
                                    <br />

                                    <input name="Send" type="submit" value="ADD USER" class="comment_submit" />
                                    <input name="Send" type="button" value="CANCEL" class="comment_submit" onclick="window.location.href = '/ManageCert/'" />
                                </p>




                                @*<?php } else { ?>



                                    <?php } ?>*@

                            </fieldset>
                        }




                    </div>


                </div><!-- end tab single section -->


            </div>

        </div><!-- end tab -->

        <div class="clearfix divider_line5"></div>


    </div>

</div><!-- end content area -->
