
@{
    Layout = null;
    ViewBag.Title = "links";
}

<div class="sidebar_widget">
    <div class="sidebar_title"><h3>What <i>we do?</i></h3></div>
    <ul class="arrows_list1">
        <li><a href="@Url.Action("Health_and_safety_policy", "Services")"><i class="fa fa-angle-right"></i> Health and safety policy</a></li>
        <li><a href="@Url.Action("HSE_Construction_plan", "Services")"><i class="fa fa-angle-right"></i> HSE Construction plan</a></li>
        <li><a href="@Url.Action("Health_and_safety_audit", "Services")"><i class="fa fa-angle-right"></i> Health and safety audit</a></li>
        <li><a href="@Url.Action("HSE_Training", "Services")"><i class="fa fa-angle-right"></i> HSE Training</a></li>
        <li><a href="@Url.Action("Risk_Assessments", "Services")"><i class="fa fa-angle-right"></i> Risk Assessments</a></li>
        <li><a href="@Url.Action("Supplying_Senior_HSE_Personnel", "Services")"><i class="fa fa-angle-right"></i> Supplying Senior HSE Personnel</a></li>
        <li><a href="@Url.Action("Provide_third_party_equipment_certificates", "Services")"><i class="fa fa-angle-right"></i> Provide third party equipment certificates</a></li>
    </ul>
</div><!-- end section -->

