@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    ViewBag.tab1 = "tab1";
    ViewBag.CertVer = "active";
}
<style>
    ul.tabs2 {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    min-height: 45px;
    width: 100%;
    background: #00018c;
}
    html ul.tabs2 li.active, html ul.tabs2 li.active a, html ul.tabs2 li.active a:hover {
    color: #454545;
    background-color: #f0f0f0;
    height: 44px;
}
    ul.tabs2 li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 0px 15px 0px 10px;
    background-color: #00018c;
    font-family: 'Open Sans' !important;
    font-weight: normal;
}

    ul.tabs2 li {
    float: left;
    padding: 0;
    margin: 0 0 0 0px;
    min-height: 45px;
    line-height: 45px;
    border-left: none;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    border-right: 1px solid #eee;
}

</style>
<div class="page_title">
    <div class="container">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()


            <div class="title"><h1>Welcome @User.Identity.GetUserName()!  <small>(<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>)</small></h1></div>
            <div class="pagenation">&nbsp;@Html.ActionLink("Home", "Index", "Home") <i>/</i> Certificate Verification</div>
            @*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@

        }

    </div>
</div><!-- end page title -->
<!-- Contant
======================================= -->

<div class="container">

    <div class="content_fullwidth">

        <h2><strong>Tab</strong> Style One</h2>

        <div id="tabs">

            <ul class="tabs2">
                <li class=""><a href="@Url.Content("/ManageUser/Index")">Manage Users</a></li>
                <li class=""><a href="@Url.Content("/ManageCert/Index")">Manage Certificates</a></li>
                <li class="active"><a href="#@ViewBag.tab1">Manage Calender</a></li>
                @*<li class=""><a href="#tab4">Domain Names</a></li>*@

            </ul><!-- /# end tab links -->

            <div class="tab-container">

                <div id="@ViewBag.tab1" class="tab-content">
                    <h5 style="color:red">Under Construction</h5>
                </div><!-- end tab single section -->


            </div>

        </div><!-- end tab -->

        <div class="clearfix divider_line5"></div>


    </div>

</div><!-- end content area -->
